@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  font-family: "Gotham", "Montserrat", "Roboto", verdana, sans-serif;
  background: #f2f2f2;
}
.badge {
  background: #e5e5e5;
  border-radius: 3px;
  padding: 6px 7px;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
  }

  &-dark {
    background-color: #2d3737;
  }

  &-info {
    background-color: #00A1E0;
  }

  &-primary {
    background-color: #87189D;
  }
}
.select {
  label {
    display: inline;
  }

  .ch-form__control {
    display: inline;
    width: 100px;
    margin-left: 14px;
  }
}

.generate-links {
  background: white;
  width: 100%;
  padding: 24px;
  position: sticky;
  bottom: 0;
  text-align: center;

  .btn {
    display: inline;
    margin-right: 7px;
  }
}


.ch-form__group {
  margin-bottom: 24px;
}
